<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Roman Numbers</title>
    <header><h1>Конвертор римских и арабских чисел</h1>
    </header>
</head>
<body>
<div>
    <p>В настоящее время в римской системе счисления используются следующие знаки: <br/>
        I = 1; V = 5; X = 10; L = 50; C = 100; D = 500; M = 1000.<br/>
        Все целые числа от 1 до 3999 записываются с помощью приведенных выше цифр. При этом: если большая цифра стоит
        перед меньшей, они складываются: <br/>
        VI = 5 + 1 = 6; XV = 10 + 5 = 15; LX = 50 + 10 = 60; CL = 100 + 50 = 150;<br/>
        если меньшая цифра стоит перед большей (в этом случае она не может повторяться), то меньшая вычитается из
        большей; вычитаться могут только цифры, обозначающие 1 или степени 10; уменьшаемым может быть только
        цифра,
        ближайшая в числовом ряду к вычитаемой:
        <br/>
        IV = 5 - 1 = 4; IX = 10 - 1 = 9; XL = 50 - 10 = 40; XC = 100 - 10 = 90;
    </p>

</div>

<form method="POST">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <p><input type="submit" value="Конвертировать"></p>
</form>
<form>
    {% csrf_token %}
    <p></p>
    <table>
        <p><b>Результат: {{answer}}</b></p>
    </table>
</form>

</body>
</html>